
.branding {     
	

	.site-branding {
		text-align: center;
		position: relative;
    padding:10px 0px;
		margin:15px 0px;
		.site-description {
			@include font-size(1.4);
			color: $c3;
			font-family: $copy_font;
			padding: 0px 0px 10px 0px;
			position: relative;
			margin-bottom:0;
			margin-top: -12px;
			
		} 

		.site-title {
			margin-bottom: 0;
			a {
				display: block;
        color:$secondary;
			}
			
			a:hover {
				color: $primary;
			}
		}	

	}
  /* header top right */
  .top-right {
      text-align: right;
      margin-top: 50px;
    li {
      list-style: none;
      display: inline-block;
      color: $secondary;
      margin: 0px 2px;
      padding: 0;
      .fa {
        @include font-size(1.3);
        padding: 10px;
        border: 1px solid $c1;
        border-radius: 100%;
        min-width: 35px;
        min-height: 35px;
        text-align: center;
      }
      a {
        color: $secondary;
        padding:0px;
        &:hover {
          color: $primary;
          .fa {
            color: $white;
            background-color: $secondary; 
            border-color: $secondary;
          }
        }
      }
    }
  }
}

.sticky-nav {
 	position: fixed;
	top: -2px;
	left: 0;
	width: 100%;
	z-index: 1000;
}
.admin-bar .nav-wrap.sticky-nav {
   top: 30px;
}

.no-sidebar {
 	float: none;
 	margin: 0 auto;
 	display: block;
}

/* Breadcrumb */
.breadcrumb {
  background: $c2;
  position: relative;
  padding: 20px 0px;
  margin-top: 0;
  a {
    color: $secondary;
    &:hover {
      color: $primary;
    }
  }  
  .breadcrumb-left { 
      h4 {
        margin-bottom:0;
        line-height: 2.4rem;
        text-transform: uppercase;
      }
  }

  .breadcrumb-right {
     text-align: right;
     font-size:14px;
     margin-top: 5px;
     color: $secondary;
    
      #crumbs{
        
      }
  }
}

.blog {
  .site-header {
    border-bottom:2px solid $c2;
  }
}




@import "top-header";