.site-footer .footer-widgets {
	margin-top: 0;
}
	
.site-footer {
	background: $secondary;
	color: $white;
	.footer-widgets {
		padding: 90px 0 50px;
		color:$white;
		h4.widget-title {
			color: $white; 
			margin-bottom:25px;
			@include font-size(2.2);
			text-transform:uppercase;
			position: relative;
			padding-bottom:10px;  
			&:before {
				position:absolute;
				content:"";
				border-bottom:1px solid $primary;
				width:15%;
				bottom:0px;
				left:0;
			}
			&:after {
				position:absolute;
				content:"";
				border-bottom:1px solid $primary;
				width:15%;
				bottom:0px;
				right:65%;
			}

		}

	    .alpha,.alpha aside {
	      margin-left:0;
	    }

	    .omega,.omega aside {
	      margin-right:0; 
	    }
	    omega {
	    	float: right;
	    }
		aside {
	      margin: 0 30px 3.5rem;
	    }
	    ul {
	    	padding-left:0;
	    }

		ul li {
			padding-bottom: 5px;
			padding-top: 5px;
			@include transition-default(all, 0.5s, ease);
		}

		ul.children,
		.widget_nav_menu ul.sub-menu {
			border-bottom:none;
			border-top:none;
			padding-left:15px;
		}
		

		select {
			width: 100%;
			background: $secondary url('images/down.png') no-repeat 95% 50% secondary;
			-moz-appearance: none;
			border: 1px solid $c1;
			padding: 5px 10% 5px 3%;

		}
		.widget_search .search-form input[type="search"] {
			color: $white;
		}

		a {
			color: $white;
			&:hover{
				color: $primary;
			}
		}
		.widget_search .search-form input[type="submit"] {
			width:16%;
			top:0px;
			border-radius:25px;
			&:hover {
				background:$primary url("images/header-search-white.png") no-repeat 60% 50%;
			}	
		}
		.search-form input[type="search"] {
			border-radius:0px 20px 20px 0px;
		}
		p {
			margin-bottom: 0;
		}
		.widget_nav_menu li {
			border-bottom: none;
				
		}

		.widget_tag_cloud a {
			color: $secondary;
			background-color: $white;
	    	border: 1px solid $white;
			&:hover {
				background-color: $secondary;
				color:$white;
			}
		}

		ul li {
			padding:5px 0px;
			list-style:none;
			position:relative;
			@include transition-default(all, 0.5s, ease);
		}

		.widget_rss ul li {
			background: none;
		}
		.widget_recent_entries {
			li {
				a {
					font-weight:500;
				}
				span {
					display:block;
					color:$c3;
					font-size:14px;
				}
			}
		}
	}
	.scroll-to-top {
		background: $primary;
		color: $white;
		bottom: 10%;
		cursor: pointer;
		//display: none;
		position: fixed;
		right: 20px;
		z-index: 999;
		text-align: center;
		line-height: 40px;
		width: 40px;
		@include border-radius(4px);
		-webkit-transition: background-color 0.3s linear;
		-moz-transition: background-color 0.3s linear;
		-o-transition: background-color 0.3s linear;
		transition: background-color 0.3s linear;
	}
	.scroll-to-top:hover {
		background: rgba($primary, 0.8);
	}
}




@import "bottom-footer";